// Navigation Styles here
.nav-class{
    display: flex;
    justify-content: center;
    border-bottom: 2px dashed silver;
    width: 100%;
    margin-inline-end: 5%;
    padding: 2%;
    nav{
      display: flex;
      text-align: center;
      margin-left: 10%;
        a{
          text-decoration: none;
          margin-inline-end: 5%;
          
          }
    }
    
  }